body {
    font-family: Arial, sans-serif;
}

#calendar-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #007bff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

#month-year {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#calendar, #calendar-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    border-top: 1px solid #ccc;
}

#calendar {
    border-bottom: 1px solid #ccc;
}

#calendar div, #calendar-header div {
    padding: 5px;
    border: none;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Arial Black", sans-serif;
    font-size: 1.3em;
}

#calendar div {
    font-size: 2em;
}

.saturday {
    color: blue;
}

.sunday, .holiday {
    color: red;
}

#holidays-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 10px; /* カレンダーとの間にスペースを追加 */
} 

#holidays-container div {
    padding: 5px;
    text-align: center;
}