body {
    font-family: Arial, sans-serif;
}

#calendar-container {
    max-width: 99%;
    width: 600px;
    margin: 0 auto;
    padding: 1px;
    border: 2px solid #007bff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

#country {
    font-size: 1em;
}

#month-year {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    padding: 4px;
    margin: 2px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#calendar, #calendar-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    border-top: 1px solid #ccc;
}

#calendar {
    border-bottom: 1px solid #ccc;
}

#calendar div, #calendar-header div {
    padding: 1px;
    border: none;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
    font-size: 0.8em;
    font-weight: bold;
}

#calendar div {
    padding: 5px 1px;
    font-size: 1.5em;
}

.saturday {
    color: blue;
}

.sunday, .holiday {
    color: red;
}

.today.sunday, .today.holiday,.today.holiday.saturday {
    background-color: rgba(255, 0, 0, 0.2);
}
.today.saturday {
    background-color: rgba(0, 0, 255, 0.2);
}
.today {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

#holidays-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 10px; /* カレンダーとの間にスペースを追加 */
} 

#holidays-container div {
    padding: 5px;
    text-align: center;
}

.fi{
    box-sizing: border-box!important;
    border:1px solid #000;
    background-size: cover!important;
    margin: 2px;
}
